<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353673577648-tjshgis1vv0e826g0c0nvll4mbdkh8e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353673577648-tjshgis1vv0e826g0c0nvll4mbdkh8e7</string>
	<key>API_KEY</key>
	<string>AIzaSyDo1tpIIcXyoMWrWCurRBVQ_bRmtMnyc7k</string>
	<key>GCM_SENDER_ID</key>
	<string>353673577648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.checkly.alsulayfih</string>
	<key>PROJECT_ID</key>
	<string>checkly-292d2</string>
	<key>STORAGE_BUCKET</key>
	<string>checkly-292d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353673577648:ios:b79e1b8642769029d22775</string>
	<key>DATABASE_URL</key>
	<string>https://checkly-292d2-default-rtdb.firebaseio.com</string>
</dict>
</plist>